@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+Grund+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&family=Zeyada&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';

}



header {
    padding-top: 20px;
    margin-bottom: 10vh;
}

/* This is the styling of my nav bar */

nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    margin: 5px 25px;
}

nav .logo {
    margin: auto 0;
}

.navlinks {
    display: flex;
    gap: 50px;
    margin: auto 0;
    font-size: 21px;
    /* color: #000000; */
}

/* This targets the link in all states */
a:link,
a:visited {
    color: #007BFF;
    text-decoration: none;
}



.random {
    margin: auto 0;
    /* color: rgba(0, 0, 0, 0.50); */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navlinks a {
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: auto 0;
    /* gap: 50px; */
    /* color: #000000; */
    transition: all 0.7s ease;
    color: var(--link-color);
}

.navlinks a:hover {
    text-decoration: none;
    /* color: #000000ce; */
    font-weight: 500;

}

.navcontact {
    margin: auto 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navcontact a {
    margin: auto 0;
    text-decoration: none;
    font-size: 21px;
}

/* This is the styling of my hero-section */

.hero-section {
    width: 100%;
}

.top {

    display: flex;
    justify-content: space-between;
    /* height: 50px; */
    margin: auto 0;
    align-items: center;
    margin: 50px 50px 50px 50px;

}

.left {
    text-align: left;
    max-width: 50%;

    h1 {
        font-size: 4rem;
        margin-bottom: 50px;

    }

    p {
        max-width: 500px;
        font-weight: 600;
    }
}

.right {
    text-align: right;
    max-width: 50%;

    h1 {
        font-size: 1.5rem;
        margin-bottom: 50px;

    }

    p {
        max-width: 350px;
        font-weight: 300;
        font-family: monospace;
    }
}

.center {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.center img {
    width: 100%;
}




/* The styling of the videos in the hero sec */

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
    width: 100%;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}


.dot.active {
    background-color: blue;
    transform: scale(1.3);
    box-shadow: 0 0 10px rgba(9, 9, 7, 0.6);
}


.bmum {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bottom {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    width: max-content;
}

.bottom video {
    width: 33.33vw;
    object-fit: cover;
    border-radius: 10px;
    height: 45vw;
    padding: 15px;
    /* opacity: 0.5; */
    filter: brightness(40%);
    transition: all 0.4s ease;
}

.bottom video.active-video {
    opacity: 1;
    filter: brightness(100%);
    transform: scale(1.1);
}

/* This is the beginning of the main ssection styling anf it starts with my about section */

main .aboutme {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.aboutme div {
    max-width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto 0;
}

div.aboutimg {


    padding: 30px;
}

.aboutimg img {
    width: 100%;
    height: auto;
    animation: floatAround 6s ease-in-out infinite;
}

@keyframes floatAround {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(15px, -20px) rotate(2deg);
    }

    50% {
        transform: translate(25px, 10px) rotate(-2deg);
    }

    75% {
        transform: translate(-15px, 20px) rotate(1deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

div.abouttext {
    font-size: 2rem;
}

#container3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

section {
    background: transparent;
}

/* This is the styling of the dark and light modeeeee */

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --accent-color: #ffff00;
    --btn-bg: #1a1a1a;
}

body.light-mode {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --accent-color: #007BFF;
    --btn-bg: #eeeeee;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease;
}

/* body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 0;
    min-height: 100vh;
} */

#theme-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--btn-bg);
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

#theme-toggle:hover {
    transform: scale(1.1);
}


/* This is the styling of the glowing card */



.maincard {
    background-color: #000000;
    background-image: radial-gradient(circle at 50% 30%,
            rgba(0, 81, 255, 0.25) 0%,
            transparent 70%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}


/* .maincard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto auto;
    align-items: center;
    text-align: center;
    height: auto;
} */

.maincard h1 {
    margin: 50px auto;
    color: #ffffff;
    font-size: 2rem;
}


.card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 242, 255, 0.2);
    border-radius: 15px;
    font-size: 24px;
    padding: 50px;
    max-width: 800px;
    color: #ffffff;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 81, 255, 0.1);

    p {
        margin-bottom: 30px;
    }
}

.checkmark {
    color: #00f2ff;
    filter: drop-shadow(0 0 8px rgba(0, 242, 255, 0.8));
    margin-right: 15px;
}


.footer {
    color: #eeeeee;
}

.footer section div.packagehead {

    padding: 0;
    margin: 50px auto;
    text-align: center;

    h1 {
        padding: 5px;
        margin: 0;
        color: #ffffff;
        font-size: 2rem;

    }

    p {
        padding: 0;
        /* margin-bottom: 25px; */
        font-size: 3rex;


    }

}

/* Styling my 3d element */


#container3d {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.motherpackage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    border: 1px solid rgba(0, 242, 255, 0.5);
    border-radius: 15px;
    padding: 50px 50px;
}

.motherpackage h3 {
    margin-bottom: 20px;
}

.motherpackage p {
    margin-bottom: 10px;
    font-size: 2rex;
}

.checkmark2 {
    color: #00f2ff;
    filter: drop-shadow(0 0 8px rgba(0, 242, 255, 0.185));
    margin-right: 15px;
    font-size: 3rex;
}

.premium,
.elite,
.advanced {
    width: 450px;
    height: 600px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease;
}

.ptext p,
h3 {
    padding: 0px 20px;
    font-size: 18px;
}

.premium:hover,
.elite:hover,
.advanced:hover {
    transform: translateY(-10px);
    border-color: rgba(0, 242, 255, 0.5);
}

.stone-container {
    width: 100%;
    height: 300px;
    position: relative;
    display: block;
}


/* This is the styling of my footer section */

footer {
    padding: 50px 0px;
    width: 100%;
}

section.aboutme {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.abouthead {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;



}

.skilldiv {
    border: 1px solid;
    padding: 10px 0px;
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

div.aboutbody {
    max-width: 2000px;
    gap: 50px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* flex-direction: column; */

    i {
        font-size: 5rem;

        color: #008800    ;
    }

}

/* Progress bar */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 20px 0;
}

.progress-bar {
    width: 50%;
    height: 30px;
    background-color: #008800 ;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.1s;
    border: 1px solid rgba(0, 0, 0, 0.507);

}

p.text{
    margin-top: 10px;
    font-size: 2.5rex;
}






/* THISSSS NA THE LESPONSIVE STYLINGGG */

@media (max-width: 400px) {

    header {
        padding-top: 5px;
        margin-bottom: 2vh;
    }

    .navlinks a {
        gap: 20px;
        font-size: 10px;

    }

    .navcontact a {
        font-size: 10px;
    }

    nav {
        height: 20px;
        margin: 3px;
    }

    .maincard {
        h1 {
            font-size: 1rem;
        }
    }

    .motherpackage {
        gap: 30px;
        border-radius: 15px;
        padding: 15px 0px;
    }


}




@media (max-width: 480px) {

    /* Make i style the nav bar fest */

    header {
        padding-top: 5px;
        margin-bottom: 5vh;
    }

    nav {
        height: 40px;
        margin: 5px 10px;
    }

    nav .logo {
        margin: auto 0;
    }

    nav .logo img {
        margin: auto 0;
        width: 50px;
    }

    .navlinks {
        gap: 20px;
        font-size: 16px;
    }

    .random {
        display: none;
    }

    section.hero-section .top {
        display: flex;
        flex-wrap: wrap;

        margin: 20px;

        .left {
            max-width: 100%;

            h1 {
                font-size: 2rem;
                margin-bottom: 20px;
            }

            p {
                max-width: 1000px;
                font-weight: 300;

            }
        }

        .right {
            max-width: 100%;

            h1 {
                font-size: 2rex;
                margin-bottom: 20px;
            }

            p {
                max-width: 1000px;
                font-weight: 300;
            }
        }

        .center {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            margin: auto 0;
        }
    }

    /* Giving my main the best styling possibleeee */

    .maincard {
        h1 {
            margin: 20px auto;
            color: #ffffff;
            font-size: 1.5rem;
        }
    }

    .card {
        font-size: 14px;
        padding: 20px;

        p {
            margin-bottom: 10px;
        }
    }

    .checkmark {
        margin-right: 10px;
    }

    /* Make we con style our footer nowwww */

    .footer {
        width: 100%;

        section {
            width: 100%;
        }
    }


    .footer section .packagehead {
        width: 100%;
        /* background-color: red; */

        padding: 0;
        margin: 0;


    }

    .motherpackage {
        gap: 20px;
        border-radius: 15px;
        padding: 40px 0px;
        width: 100%;
    }


    .stone-container {
        width: 100%;
        /* height: 700px; */
    }

    .bottom video {
        width: 100vw;
        height: 80vh;
        filter: brightness(100%);
    }


}

/* @media screen and (min-width: 600px) and (max-width: 700px) {
    header{
        background-color: red;
    }
} */




@media screen and (min-width: 490px) and (max-width: 1000px) {

    section.hero-section .top {
        display: block;
        flex-wrap: wrap;
        /* background-color: red; */
    }


    header {
        padding-top: 10px;
        margin-bottom: 10vh;
    }

    nav {
        height: 50px;
        margin: auto 15px;
    }

    nav .logo {
        width: 50px;

        img {
            width: 100%;
        }
    }

    .navlinks {
        gap: 30px;
        font-size: 15px;
    }

    .random {
        display: none;
    }

    .right {
        max-width: 100%;

        h1 {
            font-size: 2rex;
            margin-bottom: 20px;
        }

        p {
            max-width: 1000px;
            font-weight: 300;
        }
    }

    .left {
        max-width: 100%;
    }

    .logo {

        width: 50px;

    }

    .bottom video {
        width: 33.33vw;
        border-radius: 10px;
        height: 45vw;
        /* padding: 15px; */
        /* opacity: 0.5; */
        filter: brightness(50%);
        /* transition: filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease; */
    }

}